* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width: 100%;
}

.title {
    background-color: rgb(40, 77, 48);
    text-align: center;
    font-size: 3rem;
    border: solid black;
    padding: 20px;
}